body {
background-image: url(http://i.imgur.com/Zrp6hA6.jpg);
}

#wrapper{
  width: 100%;

}

#grid{
    /*width: 90%;*/
    margin: 0 auto;
    text-align: center;
}


.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    display: inline-block;
}

#SpaceShip img {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50px;
}

#Asteroid1 img {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50px;
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}

.plane {
   background: #000;
}
